# miningpool.observer deamon configuration file

# PostgreSQL database URL
database_url = "postgres://<user>:<password>@<host>:<port>/<dbname>"

# Log Level: error, warn, info, debug, trace
log_level = "info"

# Host of Bitcoin Core RPC server
rpc_host = "127.0.0.1"

# Port of the Bitcoin Core RPC server
rpc_port = 8332

# RPC Authentication
# Use either the RPC .cookie file or the rpc_user and rpc_password!
#
# Path to the Bitcoin Core RPC .cookie file
# rpc_cookie_file = "~/.bitcoin/.cookie"
#
# OR
#
# RPC user and password
# Generate with https://github.com/bitcoin/bitcoin/tree/master/share/rpcauth !
# rpc_user = ""
# rpc_password = ""

# Re-process all database transactions and apply new tags on deamon-startup.
# This might be requried after an update. You don't need to run this everytime.
# Requires Bitcoin Core with txindex and no prune.
retag_transactions = false

# URL where to query the OFAC sanctioned transactions from. This is optional
# and defaults to:
# https://raw.githubusercontent.com/0xB10C/ofac-sanctioned-digital-currency-addresses/lists/sanctioned_addresses_XBT.txt
sanctioned_addresses_url = "https://raw.githubusercontent.com/0xB10C/ofac-sanctioned-digital-currency-addresses/lists/sanctioned_addresses_XBT.txt"

# URL where to query the pool identification dataset from. This is optional
# and defaults to:
# https://raw.githubusercontent.com/bitcoin-data/mining-pools/generated/pool-list.json
pool_identification_dataset_url = "https://raw.githubusercontent.com/bitcoin-data/mining-pools/generated/pool-list.json"

# Prometheus Metric Server
# Don't expose this publicly.
[prometheus]
    enable = false
    address = "127.0.0.1:23842"
